body {
    font-family: sans-serif;
    background: url("http://www.hdwallpapers.in/walls/thief_game-wide.jpg") no-repeat right top;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.color{
	color: white;
}

.img-medium {
    height: 200px;
}

